.header {
  margin-bottom: 1.25rem;
}
.heading-1 {
  font-size: 1.625rem;
  color: var(--gold-dark);
  text-align: center;
  margin-bottom: .25rem;
}
.heading-2 {
  font-size: 1.125rem;
  color: var(--gold);
  text-align: center;
}
h4 {
  font-size: 1.2rem;
  color: var(--grey-dark);
}
.heading-4 {
  color: var(--gold);
}
.contact-page h3 {
  color: var(--gold-dark);
}
.contact-profile-img {
    width: 34%;
    border-radius: 26%;
    border: 4px solid #c6dbce;
}
img.heart-2.contact {
    width: 26px;
}
.fas, .fab {
    font-size: 1.125rem;
}
.contact-details .fas, .contact-details .fab {
  font-size: 1.125rem;
  margin-right: .25rem;
  color: #636363;
}

/* ===== INFO BOX ===== */
i.info-icon {
  font-size: 1.2rem;
  color: var(--peach-light-2);
}
.fas.label, .fab.label {
  font-size: .875rem;
  margin-left: .125rem;
  color: var(--grey-dark);
  color: var(--peach-light-2);
}
.info {
  padding: 1.25rem;
  border-radius: 5px;
  background-color: rgba(215, 233, 217, 0.4);
  border: 1px solid #dce9e2;
}
.info .col {
  padding: 0;
}

/* ===== NAVIAGTION BUTTON ===== */
.nav {
  background-color: #e3ecec;
  display: inline-block;
  padding: 0.075rem .625rem;
  border-radius: 4px;
}
.nav a {
  font-size: .875rem;
}
.nav:hover {
  background-color: #d9e5e5;
  cursor: pointer;
}
.nav:hover .fas, .nav:hover .fab, .nav:hover .nav-back {
  color: var(--peach);
}
.nav .fas, .nav .fab {
  color: var(--redpink);
  font-size: .75rem;
  margin-right: 0;
}

/* ========== MEDIA QUERIES ========== */
@media screen and (min-width: 576px) {
  .header {
    margin-bottom: 1.5rem;
  }
  .heading-1 {
    font-size: 1.935rem;
  }
  .heading-2 {
    font-size: 1.25rem;
  }
  img.heart-2.contact {
    width: 29px;
  }
  .fas, .fab {
      font-size: 1.25rem;
  }
  .contact-profile-img {
      width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .heading-1 {
    font-size: 2.25rem;
  }
  .heading-2 {
    font-size: 1.5rem;
  }
  img.heart-2.contact {
    margin-left: .625rem;
    width: 33px;
  }
  .fas, .fab {
      font-size: 1.375rem;
  }
  .nav {
    padding: 0.125rem .875rem;
  }
  .nav .fas, .nav .fab {
    font-size: .875rem;
  }
  .nav a {
    font-size: 1rem;
  }
}

@media screen and (min-width: 992px)  {
  .header {
    margin-bottom: 1.75rem;
  }
  .heading-1 {
    font-size: 2.5rem;
  }
  .heading-2 {
    font-size: 1.625rem;
  }
  img.heart-2.contact {
    margin-left: .75rem;
    width: 37px;
  }
  .fas, .fab {
    font-size: 1.5rem;
  }
  hr.style-rainbow.mobile-only {
    display: none;
  }
}

@media screen and (min-width: 1200px) {
  .header {
      margin-bottom: 1.625rem;
  }
  .heading-1 {
    font-size: 2.875rem;
  }
  .heading-2 {
    font-size: 1.75rem;
  }
  img.heart-2.contact {
    width: 40px;
  }
  .nav {
    padding: 0.125rem .9375rem;
  }
  .nav .fas, .nav .fab {
    font-size: .9375rem;
  }
  .nav a {
    font-size: 1.075rem;
  }
  .f-md {
    font-size: 1.075rem;
  }
}

@media screen and (min-width: 1440px) {
  .heading-1 {
    font-size: 2.875rem;
  }
  img.heart-2.contact {
    width: 42px;
  }
}
